<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />

    <title>에러 페이지</title>
  </head>
  <body>
    <gnb class="nav">
      <div class="inner">
        <h1 class="logo"><a href="/"></a></h1>
        <ul th:if="${session.authUser == null}" class="user">
          <li class="user-in"><a href="joinForm">Join</a></li>
          <li class="user-in"><a href="login">Login</a></li>
        </ul>
        <ul th:if="${session.authUser != null}" class="user">
          <li class="user-in"><a href="logOut">Logout</a></li>
        </ul>
      </div>
    </gnb>

    <main class="main">
      <div class="util-form error">
        <strong>Page Not Found</strong>
        <p>현재 검색엔진에 문제가 있습니다</p>
        <i class="img-error"></i>
        <div class="btn-area">
          <a href="/"><button>메인으로</button></a>
        </div>
      </div>
    </main>
  </body>
</html>
