<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
    <title>검색 결과</title>
  </head>
  <body>
    <gnb class="nav">
      <div class="inner">
        <h1 class="logo"><a href="/"></a></h1>
        <ul th:if="${session.authUser == null}" class="user">
          <li class="user-in"><a href="joinForm">Join</a></li>
          <li class="user-in"><a href="login">Login</a></li>
        </ul>
        <ul th:if="${session.authUser != null}" class="user">
          <li class="user-in"><a href="logOut">Logout</a></li>
        </ul>
      </div>
    </gnb>

    <!-- <div
      th:if="${session.authUser != null}"
      style="float: left"
      class="clearfix"
    >
      <p>검색 목록</p>
      <ul th:each="num : ${#numbers.sequence(0, infoList.searchList.size()-1)}">
        <a th:href="@{/search(search=${infoList.searchList[num]}, page=1)}"
          ><li
            class="search"
            th:text="${infoList.searchList[num]}+'/'+${infoList.searchListTime[num]}"
          ></li
        ></a>
      </ul>
    </div>
    <div style="float: right">
      <p>검색 순위</p>
      <ol th:each="sr : ${infoList.searchRankList}">
        <a th:href="@{/search(search=${sr.search}, page=1)}"
          ><li
            th:text="${srStat.count}+'위 '+${sr.search}+' '+${sr.hit}+'회'"
          ></li
        ></a>
      </ol>
    </div> -->
    <div class="subPage">
      <div class="inner">
        <div class="search-result">
          <p><span th:text="${infoList.search}"></span>의 검색 결과입니다.</p>
        </div>
        <div class="table list">
          <table>
            <colgroup>
              <col style="width: 10%" />
              <col style="width: auto" />
              <col style="width: 10%" />
            </colgroup>
            <tbody>
              <tr>
                <td class="count">01</td>
                <td>
                  <div class="item">
                    <img th:src="${/assets/images/book.jpg}" alt="" />
                    <div>
                      <p class="title">스프링북 스도쿠 1(초급 중급)</p>

                      <p class="publising">모닝글로리</p>

                      <p class="price-area">
                        <span class="price">6,750원</span>
                        <span class="val">7,500원</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <a class="more">상세보기</a>
                </td>
              </tr>

              <!-- <tr th:each="info : ${infoList.lst}">
                <td th:text="${infoStat.count}" class="count"></td>
                <td>
                  <div class="item">
                    <img th:src="${info.thumbnail}" />
                    <div>
                      <p th:text="${info.title}" class="title"></p>

                      <p class="publising">모닝글로리</p>

                      <p class="price-area">
                        <span class="price">6,750원</span>
                        <span class="val">7,500원</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <a th:href="@{/title(title=${info.title})}" class="more"
                    >상세보기</a
                  >
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>

        <!-- <div class="pagination">
          <div th:each="num : ${#numbers.sequence(1, infoList.totalPage)}">
            <a
              th:href="@{/search(search=${infoList.search}, page=${num})}"
              th:if="${infoList.page} == ${num}"
              th:text="${num}"
              style="font-weight: bold"
            ></a>
            <a
              th:href="@{/search(search=${infoList.search}, page=${num})}"
              th:unless="${infoList.page} == ${num}"
              th:text="${num}"
            ></a>
          </div>
        </div> -->

        <!--pagination-->
        <div class="pagination">
          <button type="button" class="btn-prev">
            <span class="hidden">이전</span>
          </button>
          <a href="/" class="active"><span>1</span></a>
          <a href="/" class=""><span>2</span></a>
          <a href="/" class=""><span>3</span></a>
          <a href="/" class=""><span>4</span></a>
          <a href="/" class=""><span>5</span></a>
          <button type="button" class="btn-next">
            <span class="hidden">다음</span>
          </button>
        </div>
        <!--pagination-->
      </div>
    </div>
  </body>
</html>
